**/.vs/*
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/settings.json
**/out/*
/.tools

#/ArduinoSketches/libraries
/ArduinoSketches/esp01/espBode
/ArduinoSketches/esp01/espBode-awg
/ArduinoSketches/esp01/espBode-main
/ArduinoSketches/esp01/espBode-master

/ProjectAWGControl/espBode
/ProjectAWGControl/espBode-master
/ProjectAWGControl/fygen
/ProjectWebCam/html5_rtsp_player

/Solar2024

/Choco
/CSharp
#/CSharp/Choco
#/CSharp/SOLID
#/CSharp/IPTools

/Emsdk
/Qt
/Victron
/VESC
