/.vs
#/ProjectAWGControl/espBode/*
#/ProjectAWGControl/fygen/*
#/ProjectWebCam/html5_rtsp_player/*
#/Solar2024/*
#!clone.bat

#/ArduinoSketches/libraries
/ArduinoSketches/esp01/espBode
/ArduinoSketches/esp01/espBode-awg
/ArduinoSketches/esp01/espBode-main
/ArduinoSketches/esp01/espBode-master

/ProjectAWGControl/espBode
/ProjectAWGControl/espBode-master
/ProjectAWGControl/fygen

/ProjectWebCam/html5_rtsp_player

/Solar2024

