/.vs

#/espBode/*
#/fygen/*
#/html5_rtsp_player/*
#/Solar2024/*
#!clone.bat

/espBode-awg
/espBode-main
/espBode-master
/espBode
/fygen
/html5_rtsp_player
/Solar2024

#/ArduinoSketches/libraries
/ArduinoSketches/esp01/espBode
/ArduinoSketches/esp01/espBode-awg
/ArduinoSketches/esp01/espBode-main
/ArduinoSketches/esp01/espBode-master
